.venv/
.env
__pycache__/
*.py[cod]
.pytest_cache/
.run/
models/*
!models/.gitkeep
results/*
!results/.gitkeep
datasets/processed/*
!datasets/processed/.gitkeep

/datasets/raw/XGuard-Train-Open-200K/xguard_train_open_200k.jsonl
